* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #fff;
}

body {
  background-color: #CE2323;
  background-color: #22272B;
}

.bw {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

.fdr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.first {
  background-color: #343a40;
  border-radius: 5px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 10px;
}

.first a {
  padding: 10px 10px;
  text-decoration: none;
}

.header {
  padding-top: 16px;
}

.header img {
  display: block;
  margin: 20px auto 30px;
  width: 300px;
}

.part1 h2 {
  background-color: #2ea7e0;
  background-color: #CE2323;
  color: #fff;
  text-align: center;
  line-height: 1.5;
  border-radius: 8px;
  font-weight: 400;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.part1 .speedWrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px;
}

.part1 .speed {
  width: 30%;
  min-width: 250px;
  max-width: 350px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
  -webkit-box-ordinal-group: 7;
      -ms-flex-order: 6;
          order: 6;
  background-color: #22272B;
  color: #fff;
}

.part1 .speed .speedId {
  background: linear-gradient(-45deg, #CE2323 0%, #DCC191 100%);
  border-radius: 50%;
  width: 70px;
  height: 70px;
  -webkit-animation: move 4s linear infinite;
          animation: move 4s linear infinite;
}

.part1 .speed .speedId span {
  font-size: 10px;
  width: 85%;
  height: 85%;
  border-radius: 50%;
  background: #22272B;
  font-size: 2rem;
  color: #fff;
  -webkit-animation: move2 4s linear infinite;
          animation: move2 4s linear infinite;
}

.part1 .speed .speedInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 10px;
  text-align: center;
}

.part1 .speed .speedInfo span:nth-of-type(2) {
  font-size: 1.2em;
}

.part1 .speed .speedInfo strong {
  font-size: 24px;
}

.part1 .speed .speed-link {
  color: #E1BA5E;
  font-size: 2em;
  margin-right: 10px;
}

.part {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 8px;
}

.titleText {
  background-color: #CE2323;
  color: #fff;
  margin: 0 auto;
  text-align: center;
  font-size: 24px;
  line-height: 1.5;
  border-radius: 8px;
  font-weight: 400;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.part2 {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.part2 a {
  min-width: 220px;
  width: 30%;
  text-align: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
  text-decoration: none;
}

.part2 a .videoWrapper h3 {
  font-size: 1.2rem;
  line-height: 1.2;
}

.part2 a .videoWrapper .videoLink {
  position: relative;
  width: 100%;
  border-radius: 20px;
  margin: 15px auto;
}

.part2 a .videoWrapper .videoLink img {
  border-radius: 20px;
  width: 100%;
  vertical-align: bottom;
}

.part3 {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.part3 .qr {
  min-width: 150px;
  width: 25%;
  margin: 15px auto;
}

.part3 .qr img {
  width: 150px;
  display: block;
  margin: 0 auto;
}

.part3 .text {
  min-width: 220px;
  width: 30%;
  line-height: 1.5;
  margin: 10px;
}

.part3 .text img {
  width: 50%;
}

.part3 .img {
  min-width: 220px;
  width: 25%;
  margin: 0 auto;
}

.part3 .img img {
  width: 100%;
}

.switchButton {
  padding: 7px 15px;
  border-radius: 5px;
  line-height: 24px;
  border: none;
  margin-right: 10px;
  background-color: #22272B;
  background-color: #aaa;
}

.color {
  background-color: #CE2323;
}

@-webkit-keyframes move {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes move {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes move2 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes move2 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}
/*# sourceMappingURL=index.css.map */