* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #fff;
}

body {
    // background-image: url(../image/bg.png);
    background-color: #CE2323;
    background-color: #22272B;
}

.bw {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
}

.fdr {
    display: flex;
    justify-content: center;
    align-items: center;
}

.first {
    background-color: #343a40;
    border-radius: 5px;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 10px;

    a {
        padding: 10px 10px;
        text-decoration: none;
    }
}

.header {
    padding-top: 16px;

    img {
        display: block;
        margin: 20px auto 30px;
        width: 300px;
    }
}

.part1 {
    h2 {
        background-color: #2ea7e0;
        background-color: #CE2323;
        color: #fff;
        text-align: center;
        line-height: 1.5;
        border-radius: 8px;
        font-weight: 400;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .speedWrapper {
        box-sizing: border-box;
        background-color: rgba(255, 255, 255, .1);
        border-radius: 8px;
        width: 100%;
        justify-content: space-between;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 10px;
    }

    .speed {
        width: 30%;
        min-width: 250px;
        max-width: 350px;
        background-color: rgba($color: #fff, $alpha: .6);
        border-radius: 50px;
        justify-content: space-between;
        margin-bottom: 20px;
        order: 6;
        background-color: #22272B;
        color: #fff;

        .speedId {
            // background: linear-gradient(to bottom, #ff7c02 0%, #ff860d 47%, #ffcb52 100%);
            // background: linear-gradient(-45deg, #3363a8 0%,  #2ea7e0 100%);
            // background: linear-gradient(-45deg, #321f9e 0%, #2ea7e0 100%);
            // background: linear-gradient(-45deg, #2960ac 0%, #addef8 100%);
            background: linear-gradient(-45deg, #CE2323 0%, #DCC191 100%);
            border-radius: 50%;
            width: 70px;
            height: 70px;
            animation: move 4s linear infinite;
            // margin-left: 10px;

            span {
                font-size: 10px;
                width: 85%;
                height: 85%;
                border-radius: 50%;
                background: #22272B;
                font-size: 2rem;
                color: #fff;
                animation: move2 4s linear infinite;
            }
        }

        .speedInfo {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: 0 10px;
            text-align: center;

            span:nth-of-type(2) {
                font-size: 1.2em;
            }

            strong {
                font-size: 24px;
            }
        }

        .speed-link {
            color: #E1BA5E;
            font-size: 2em;
            margin-right: 10px;
        }
    }

}

.part {
    box-sizing: border-box;
    padding: 10px 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: rgba(255, 255, 255, .1);
    justify-content: center;
    border-radius: 8px;
}

.titleText {
    // background-color: #2ea7e0;
    background-color: #CE2323;
    color: #fff;
    margin: 0 auto;
    text-align: center;
    font-size: 24px;
    line-height: 1.5;
    border-radius: 8px;
    font-weight: 400;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.part2 {
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-end;
    align-items: stretch;
}

.part2 a {
    min-width: 220px;
    width: 30%;
    text-align: center;
    align-self: flex-end;
    text-decoration: none;

    .videoWrapper {

        h3 {
            font-size: 1.2rem;
            line-height: 1.2;
        }

        .videoLink {
            position: relative;
            width: 100%;
            border-radius: 20px;
            margin: 15px auto;

            img {
                border-radius: 20px;
                width: 100%;
                vertical-align: bottom;
            }
        }
    }
}

.part3 {
    justify-content: space-around;
    // justify-content: center;
    flex-wrap: wrap;

    .qr {
        min-width: 150px;
        width: 25%;
        margin: 15px auto;

        img {
            width: 150px;
            display: block;
            margin: 0 auto;
        }
    }

    .text {
        min-width: 220px;
        width: 30%;
        line-height: 1.5;
        margin: 10px;

        .dfa {
            margin-top: 20px;
        }

        img {
            // width: 50%;
            width: 175px;
            margin-top: 20px;
        }
    }

    .img {
        min-width: 220px;
        width: 25%;
        margin: 0 auto;

        img {
            width: 100%;
        }
    }
}

.switchButton {
    padding: 7px 15px;
    border-radius: 5px;
    line-height: 24px;
    border: none;
    margin-right: 10px;
    background-color: #22272B;
    background-color: #aaa;
}

.color {
    background-color: #CE2323;
}

@keyframes move {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);

    }
}

@keyframes move2 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);

    }
}